<!DOCTYPE html>
<html lang="fr">
<%-include('base')-%>

<body>
<%-include('header')%>
<div class="container-fluid py-3">
    <div class="row gy-3 scrollable-container">
        <div class="col-12 d-md-flex flex-md-row flex-md-wrap justify-content-md-center">
            <!--Carte d'explication-->
            <div class="card d-flex flex-column justify-content-center align-items-center p-3 m-1 col-md-6 col-lg-4 col-xl-3">
                <div class="row w-100">
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <p class="m-0 fw-bold">Email</p>
                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <p class="m-0 fw-bold">Permission</p>
                    </div>
                </div>
                <div class="row w-100 mt-3">
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <p class="m-0 fw-bold">Edition</p>
                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <p class="m-0 fw-bold">Mot de passe</p>
                    </div>
                </div>
            </div>
            <!--Carte d'explication-->
        <% rows.forEach((user) => { %>
                <div class="card d-flex flex-column align-items-center justify-content-center p-3 m-1 col-md-6 col-lg-4 col-xl-3">
                    <!-- Section Haut : Email et rôle -->
                    <div class="row w-100">
                        <div class="col-6 d-flex justify-content-center align-items-center">
                            <p class="m-0"><%= user.email%></p>
                        </div>
                        <div class="col-6 d-flex justify-content-center align-items-center">
                            <% if (user.admin) { %>
                                <p class="m-0">Administrateur</p>
                            <% } else if (user.dsio) { %>
                                <p class="m-0">DSIO</p>
                            <% } else { %>
                                <p class="m-0">Utilisateur</p>
                            <% } %>
                        </div>
                    </div>
                    <!-- Boutons d'action -->
                    <div class="row w-100 mt-3">
                        <div class="col-6 d-flex justify-content-center">
                            <button class="btn btn-danger btn-sm" onclick="deleteUser(<%= user.id_users%>)">Supprimer</button>
                        </div>
                        <div class="col-6 d-flex justify-content-center">
                            <button class="btn btn-outline-danger btn-sm"><!--onclick="renewUserPassword(<%= //user.id_users%>)"-->Réinitialiser</button>
                        </div>
                    </div>
                </div>
            <% }); %>
            <div class="card d-flex flex-column justify-content-center align-items-center p-3 m-1 col-md-6 col-lg-4 col-xl-3">
                <div class="row w-100">
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <p class="m-0">p.nom@mfgs.fr</p>
                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <p class="m-0">Administrateur</p>
                    </div>
                </div>
                <div class="row w-100 mt-3">
                    <div class="col-6 d-flex justify-content-center">
                        <button class="btn btn-success btn-sm" onclick="addUser()">Créer</button>
                    </div>
                    <div class="col-6 d-flex justify-content-center">
                        <button class="btn btn-outline-danger btn-sm" disabled>Réinitialiser</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<%- include('scripts')-%>
</html>